
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.converter-container {
    background: linear-gradient(135deg, #2c3e50, #3498db);

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: white;
    font-size: 45px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.convert-btn {
    background-color: #30ed0e;
    color: black;
}

.convert-btn:hover {
    background-color: #2a04e7;
}

.reset-btn {
    background-color: #e74c3c;
    color:black;
}

.reset-btn:hover {
    background-color: #f40f1a;
}
